@{
    ViewData["Title"] = "Redefine Fashion.";
}


<div class="wide-banner">
    <div class="text-center">
        <h1 class="display-4">welcome<br /> to fashion</h1>
 

    </div>
</div>
<div class="block">

    <h2>clothing serves as a chameleon of expression.  they empower you to embody professionalism, leisure, elegance, comfort, anticipation of bedtime, anticipation of revelry, and myriad other expressions.
        i love learning about the latest fashion trends while exploring how to incorporate them into my personal style. modesty and comfort always come first
        and there is no need for sacrifice if you can think outside of the box
    </h2>
    <br />
    <br />
  
    <h2>it can be hard to know where to start with fashion. let me help you dive into your personal style and take control of your life through the fabric and textiles of the fashion world.</h2>
</div>

<div class="wide-banner-2">
    <div class="text-center">
        <h1 class="display-4">style with me</h1>
        <br />
        <br />
       
        <a class="button-56" style="height: 48px;" asp-area="" asp-controller="Home" asp-action="Consulting">Consulting</a>

 </div>
 </div>

</div>
<div class="text-center">
    
</div>


